
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;

}

.container {
    max-width: 1800px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.title {
    font-size: 38px;
    font-weight: 800;
    color: black;
}

.teams {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.team-input {
    height: 50px;
    border: none;
    border-radius: 16px;
    padding: 0 18px;
    background: #111c2a;
    color: white;
    font-size: 15px;
    min-width: 180px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.08);
}

.save-btn {
    height: 50px;
    border: none;
    border-radius: 16px;
    padding: 0 24px;
    background: linear-gradient(135deg,#0ea5e9,#2563eb);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 10px 25px rgba(37,99,235,.25);
}

.save-btn:hover {
    transform: translateY(-2px);
}

.card {
    border: 1px solid rgba(255,255,255,0.06);
    overflow-x: auto;
    box-shadow: 0 15px 45px rgba(0,0,0,0.4);
    max-height: 100vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    min-width: min-content;
}

th {
    color: black;
    padding: 18px 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

td {
    color: black;
    padding: 14px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

tr:hover {
    background: rgba(255,255,255,0.03);
}

.hole {
    font-weight: 800;
    color: #005d86;
}

.player {
    color: #facc15;
    font-weight: 700;
    font-size: 14px;
}



.score-select {
    width: 50px;
    height: 25px;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .2s ease;
    box-shadow:
            inset 0 1px 1px rgba(255,255,255,.05),
            0 5px 15px rgba(0,0,0,.25);
}


.blue {
    color: white;
    font-weight: 800;
    background: #0000ff;
}

.red {
    color: black;
    font-weight: 800;
    background: red;
}

.grey {
    color: black;
    font-weight: 800;
    background: grey;
}

@media(max-width:900px){
    body {

    }

    .title {
        font-size: 28px;
    }

    .card {
        max-height: 100vh;
        overflow-y: auto;
    }
}
